* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

img {
  width: 100%;

}
#product-preview {
    
  height: 20rem;
  width: 20rem;
margin-left: 16rem;
    
}
#Layer1
{
 position: relative;
  top: 0;
  left: 0;
}
#Layer2
{
    position: absolute;
top: 68rem;
left: 19em;
width: 14rem;
}

#Layer3
{
       position: absolute;
    top: 68rem;
    left: 25rem;
    width: 3rem;
}
#Layer4
{
   position: absolute;
top: 49rem;
left: 18.2rem;
width: 16rem;
height: 14em;
}
#Layer5
{
position: absolute;
top: 55rem;
left: 29rem;
width: 3rem;
height: 2rem;
}
#Layer6
{
  position: absolute;
top: 49.3rem;
left: 24.6rem;
width: 3rem;
height: 13rem;
}
#Layer7
{
   position: absolute;
top: 49.3rem;
left: 23.3rem;
width: 6rem;
height: 3rem;
}




/* GENERAL STYLING */
header {
  background-color: dodgerblue;
  color: white;
  padding: 2rem 1rem;
}

main {
  background-color: #fff;
}

footer {
  background-color: dodgerblue;
  color: white;
  padding: 2rem 1rem;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.splash-text {
  font-family: "Cinzel", serif;
  font-size: 6rem;
}

.xl-text {
  font-family: "Cinzel", serif;
  font-size: 3.5rem;
}

.menu-header-text {
  font-family: "Quicksand", sans-serif;
  font-size: 2.3rem;
  padding: 1rem 0 1rem 1rem;
}

.menu-text {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  padding: 1rem 1rem 1rem;
}

.attribute-header {
  display: flex;
  text-align: center;
}

.nav-text {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.flyout-content {
  padding-left: 1rem;
}

/* SPLASH */
#splash {
  height: 35vw;
  background-image: url("images/splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* CONFIGURATOR */
#configurator {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#product-preview .hide {
  opacity: 0;
}
.attribute-img {
  width: 90px;
  height: 90px;
}

.flyout-panel {
  position: absolute;
  transform: translateX(180%);
  transition: transform 0.3s;
}

.flyout-panel-display {
  transform: translateX(0%);
}

/* Options */
#attribute-panel:first-child {
  border-top: 1px solid grey;
}

li {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}

li:hover {
  background-color: #eaeaea;
}

#flyout-menu {
  border-top: 1px solid grey;
}

/* .option-selected */

/* Color swatches */
.color-swatches {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.color-active {
  outline: 3px solid orange;
}

.color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* COLORS */
.black {
  background-color: rgb(28, 26, 26);
}

.darkblue {
  background-color: rgb(12, 32, 143);
}

.green {
  background-color: rgb(16, 99, 29);
}

.lightblue {
  background-color: rgb(142, 225, 250);
}

.mint {
  background-color: rgb(131, 255, 214);
}

.pink {
  background-color: rgb(227, 98, 162);
}

.purple {
  background-color: rgb(85, 15, 135);
}

.white {
  background-color: rgb(240, 240, 240);
}
